<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Legg til Flokk</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="../app.js"></script>
</head>
<body>
    <header>
        <h1>Legg til en Ny Flokk</h1>
    </header>

    <section class="form-container">
        <form action="/flock/add" method="POST">
            <label for="name">Flock Name</label>
            <input type="text" name="name" id="name" required>
          
            <label for="ownerName">Owner's Name</label>
            <input type="text" name="ownerName" id="ownerName" required>
          
            <label for="ownerEmail">Owner's Email</label>
            <input type="email" name="ownerEmail" id="ownerEmail" required>
          
            <label for="series">Series</label>
            <input type="text" name="series" id="series">
          
            <label for="buemerkeName">Bueearek Name</label>
            <input type="text" name="buemerkeName" id="buemerkeName">
          
            <label for="buemerkeImage">Buemerke Image URL</label>
            <input type="text" name="buemerkeImage" id="buemerkeImage">
          
            <button type="submit">Add Flock</button>
          </form>
    </section>

    <footer>
        <p>© 2025 Kukkik Ano - Samisk Reinsdyrregistrering</p>
    </footer>
</body>
</html>
