<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reinsdyr Database</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/app.js" defer></script>
    <script src="/js/database.js" defer></script>
</head>
</head>
<body>
    <header>
        <h1>Reinsdyr Database</h1>
        <nav>
            <ul>
                <li><a href="/">Hjem</a></li>
                <li><a href="/reindeer/search">Søk</a></li>
                <li><a href="/reindeer/addReindeer">Legg til Reinsdyr</a></li>
                <li><a href="/flock/addFlock">Legg til Flokk</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h2>Liste over registrerte reinsdyr</h2>
        <table>
            <thead>
                <tr>
                    <th>Navn</th>
                    <th>Flokk</th>
                    <th>Fødselsdato</th>
                </tr>
            </thead>
            <tbody id="database-table-body">
                <!-- JS vil fylle ut data her -->
            </tbody>
        </table>
    </main>

 <!-- Legger til frontend-JS -->
</body>
</html>
