<!DOCTYPE html>
<html lang="no">
<head>
    <title>Reinsdyrregister</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/app.js" defer></script>
</head>
<body>
    <header>
        <nav>
            <a href="/">Hjem</a>
            <a href="/search">Søk</a>
            <a href="/flock">Flocker</a>
            <a href="/owner">Eiere</a>
            <a href="/map">Kart</a>
            <a href="/faq">FAQ</a>
        </nav>
    </header>
    <main>
        <%- body %>
    </main>
</body>
</html>
